<h1 mat-dialog-title>Configuration</h1>
<div mat-dialog-content>
  <form class="setting-form">
   <mat-form-field>
    <mat-select placeholder="Date de début" [(ngModel)]="conf.setting.fieldStartDate" name="startDate">
      <mat-option value="">Date d'échéance</mat-option>
      <mat-option *ngFor="let customDate of customDates" [value]="customDate.id">
        {{customDate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Date de Fin" [(ngModel)]="conf.setting.fieldEndDate" name="endDate">
      <mat-option value="">Date d'échéance</mat-option>
      <mat-option *ngFor="let customDate of customDates" [value]="customDate.id">
        {{customDate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Date d'échéance" [(ngModel)]="conf.setting.fieldDeadlineDate" name="deadlineDate">
      <mat-option value="">Date d'échéance</mat-option>
      <mat-option *ngFor="let customDate of customDates" [value]="customDate.id">
        {{customDate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Durée par défaut (si l'un des champs n'est pas renseigné)" [(ngModel)]="conf.setting.duration" name="duration">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Décalage des cartes sans date (0 = masqué)" [(ngModel)]="conf.setting.delay" name="delay">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Liste jalon (date d'échéance = jalon)" [(ngModel)]="conf.setting.fieldMarker" name="marker">
      <mat-option value="">Aucune liste jalon</mat-option>
      <mat-option *ngFor="let list of conf.board.lists" [value]="list.id">
        {{list.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Trier les cartes par "
                [(ngModel)]="conf.setting.orderBy" name="orderBy">
      <mat-option value="text">Nom de la carte</mat-option>
      <mat-option value="pos">Position dans la liste Trello</mat-option>
      <mat-option value="start_date">Date de début</mat-option>
      <mat-option value="end_date">Date de fin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Afficher les colonnes supplémentaires" 
      [compareWith]="compareObjects"
      [(ngModel)]="conf.setting.columns" multiple name="columns">
      <mat-option [value]="getVirtualField('deadline', 'Echéance', 'date')">Echéance</mat-option>
      <mat-option *ngFor="let field of conf.board.customFields" [value]="field">
        {{field.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Trier les cartes par "
                [(ngModel)]="conf.setting.orderBy" name="orderBy">
      <mat-option value="text">Nom de la carte</mat-option>
      <mat-option value="pos">Position dans la liste Trello</mat-option>
      <mat-option value="start_date">Date de début</mat-option>
      <mat-option value="end_date">Date de fin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
      <input matInput placeholder="Définir une couleur unique pour toutes les cartes" [(colorPicker)]="conf.setting.color" [style.background]="conf.setting.color" name="color" [cpOKButton]="true" [cpCancelButton]="true" cpCancelButtonText="Effacer" (colorPickerCancel)="conf.setting.color = ''"/>
  </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="conf" (click)="clean()">Effacer</button>
  <button mat-button [mat-dialog-close]="conf">Ok</button>
</div>
