<h1 mat-dialog-title>Configuration</h1>
<div mat-dialog-content>
   <mat-form-field>
    <mat-select placeholder="Date de début" [(ngModel)]="conf.field_start_date" name="startDate">
      <mat-option value="">Date d'échéance</mat-option>
      <mat-option *ngFor="let customDate of customDates" [value]="customDate.id">
        {{customDate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Date de Fin" [(ngModel)]="conf.field_end_date" name="endDate">
      <mat-option value="">Date d'échéance</mat-option>
      <mat-option *ngFor="let customDate of customDates" [value]="customDate.id">
        {{customDate.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-list>
    <h3 mat-subheader>Configuration des listes</h3>
    <mat-list-item *ngFor="let list of conf.board.lists">
      <h4 mat-line>
          <i class="fas" [ngClass]="conf.markerLists[list.id]"></i>
          {{list.name}}
      </h4>
      <input matInput placeholder="Expl : fa-skull-crossbones" [(ngModel)]="conf.markerLists[list.id]">
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="conf">Ok</button>
</div>