<h2 class="mat-title">Affichage des cartes Trello sous la forme d'un Gantt</h2>

<form class="example-form">
  <mat-form-field>
    <mat-select placeholder="Choisir un tableau" [(ngModel)]="boardSelected" (ngModelChange)="updateGantt()" name="board">
      <mat-option *ngFor="let board of boards | async" [value]="board">
        {{board.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button>
    <fa-icon [icon]="filterIcon" (click)="openFilterDialog()" [ngClass]="(isFilterActive() ? 'active': '')"></fa-icon>
  </button>
  <button mat-icon-button>
    <fa-icon [icon]="settingIcon" (click)="openSettingDialog()" [ngClass]="(isSettingActive() ? 'active': '')"></fa-icon>
  </button>
</form>

<div #gantt_here style='width: 100%; height: 100%;'></div>

