<!-- header -->
<div class="container">
  <mat-toolbar color="primary">
    <h1 [title]="version">Another Gantt App</h1>
    <span class="menu-spacer"></span>
    <button mat-mini-fab class="board-icon" (click)="openGanttDialog()" color="accent" title="Configuration du Gantt">
      <mat-icon>build</mat-icon>
    </button>
    <button mat-mini-fab class="board-icon" (click)="clean()" color="accent" title="Supprimer les données">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <mat-toolbar>
    <mat-select [compareWith]="compareBoard" placeholder="Choisir un tableau"
                [matBadge]="filteredNumber" [matBadgeHidden]="!filteredNumber" matBadgeColor="warn"
                [(ngModel)]="boardSelected" (ngModelChange)="updateGantt()" name="board">
      <mat-option *ngFor="let board of boards | async" [value]="board">
        {{board.name}}
      </mat-option>
    </mat-select>
    <span class="menu-spacer"></span>
    <div *ngIf="boardSelected != null">
      <button mat-mini-fab class="board-icon" (click)="openFilterDialog()" [color]="isFilterActive() ? 'primary' : 'warn'" title="Filtre du tableau">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-mini-fab class="board-icon" (click)="openSettingDialog()" [color]="isSettingActive() ? 'primary' : 'warn'" title="Configuration du Gantt pour ce tableau">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div #gantt_here style='width: 100%; height: 100%;'></div>
  <footer #message></footer>
</div>
