/* Add application styles & imports to this file! */
@import "../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

  .today {
      background-color: darkred !important;
  }

  .marker {
      background-color: darkcyan !important;
  }

  .deadline {
      position: absolute;
      border-radius: 12px;
      border: 2px solid #585858;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 22px;
      height: 22px;
      margin-left: -11px;
      margin-top: 6px;
      z-index: 1;
      background: url("https://www.pngrepo.com/png/278777/170/deadline.png") center no-repeat;
  }

  .overdue-indicator {
      width: 24px;
      margin-top: 5px;
      height: 24px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 17px;
      color: white;
      background: rgb(255, 60, 60);
      line-height: 25px;
      text-align: center;
      font-size: 24px;
  }