<h1 mat-dialog-title>Filtre</h1>
<div mat-dialog-content>
  <form class="filter-form">
    <mat-form-field>
      <mat-select placeholder="Choisir un membre" multiple="multiple" [(ngModel)]="data.filter.members" name="member">
        <mat-option value="">Tous</mat-option>
        <mat-option *ngFor="let member of data.board.members" [value]="member.id">
          {{member.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Listes masquées" multiple="multiple" [(ngModel)]="data.filter.lists" name="lists">
        <mat-option *ngFor="let list of data.board.lists" [value]="list.id">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Etiquettes" multiple="multiple" [(ngModel)]="data.filter.labels" name="labels">
        <mat-option *ngFor="let label of data.board.labels" [value]="label.id">
          {{label.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nom de la carte" [(ngModel)]="data.filter.name" name="name">
    </mat-form-field>
    <mat-form-field *ngFor="let cf of data.board.customFields | type: ['list']">
        <mat-select [placeholder]="cf.name" multiple="multiple" [(ngModel)]="data.filter.customFields[cf.id]" [name]="cf.id">
          <mat-option *ngFor="let option of cf.options" [value]="option.id">
            {{option.value.text}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngFor="let cf of data.board.customFields | type: 'text'">
        <input matInput [placeholder]="cf.name" [(ngModel)]="data.filter.customFields[cf.id]" [name]="cf.id" *ngIf="cf.type === 'text'">
    </mat-form-field>
    <span *ngFor="let cf of data.board.customFields | type: ['date', 'number']">
      <mat-form-field class="input-range" *ngIf="cf.type === 'date'">
        <input matInput [matDatepicker]="picker" [placeholder]="cf.name + ' (du ...)'" [(ngModel)]="data.filter.customFields[cf.id].min" [name]="cf.id + '-min'">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-range" *ngIf="cf.type === 'number'">
        <input matInput type="number" [placeholder]="cf.name + ' mini'" [(ngModel)]="data.filter.customFields[cf.id].min" [name]="cf.id + '-min'" *ngIf="cf.type === 'number'">
      </mat-form-field>
      <mat-form-field class="input-range" *ngIf="cf.type === 'date'">
        <input matInput [matDatepicker]="picker" [placeholder]="cf.name + ' (au ...)'" [(ngModel)]="data.filter.customFields[cf.id].max" [name]="cf.id + '-max'">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="input-range" *ngIf="cf.type === 'number'">
        <input matInput type="number" [placeholder]="cf.name + ' maxi'" [(ngModel)]="data.filter.customFields[cf.id].max" [name]="cf.id + '-max'" *ngIf="cf.type === 'number'">
      </mat-form-field>
    </span>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" (click)="clean()">Effacer</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
